<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-employees"><%= link_to "Employees", casein_employees_path %></li>
<li id="tab-brands"><%= link_to "Brands", casein_brands_path %></li>